<%for(var i=0,ll=data.length; i<ll; i++) { %>
  <li>
    <label class="checkgroup">
      <input type="checkbox" id="article_<%= data[i].id%>" name="checkall"><label for="article_<%= data[i].id%>" class="check-all"></label>
    </label>
    <a href="#<%= data[i].id%>"><%= ("," + data[i].keyword + ",").replace(/,,/g, "").replace(/,/g, '<i class="icon-gap"></i>')%></a>
    <span><a href="/wechat/text/edit?id=<%= data[i].id%>">编辑</a><i class="remove">删除</i></span>
  </li>
<%}%>
